<div class="mask">
  <div class="dialog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title dialog-title">{{title}}</h3>
      </div>
      <div class="panel-body dialog-body">
        <div class="dialog-content">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="panel-footer dialog-bottom clearfix">
        <a href="javascript:;" class="btn btn-primary btn-confirm btn-mobile"  (click)="onConfirm()">
          <span class="glyphicon glyphicon-ok"></span>
          {{ btnConfirm ? btnConfirm : '确认' }}
        </a>

        <a href="javascript:;" class="btn btn-primary btn-confirm btn-pc"  (click)="onConfirm('pc')">
          <span class="glyphicon glyphicon-ok"></span>
          {{ btnConfirm ? btnConfirm : '确认' }}
        </a>

        <a href="javascript:;" class="btn btn-default btn-cancel"  (click)="onCancel()">
          <span class="glyphicon glyphicon-remove"></span>
          {{ btnCancel ? btnCancel : '取消' }}
        </a>
      </div>
    </div>
  </div>
</div>
