.mask{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1000;
}

.dialog{
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dialog-title{
  padding: 5px 20px;
  background-color: #10AF88;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
}

.dialog-body{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dialog-content{
  padding: 40px 20px;
  font-size: 20px;
  background-color: #FFFFFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.dialog-bottom{
  text-align: center;
  background-color: #FFFFFF;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #efefef;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0px 30px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-top: 4px;
}

.btn-primary{
  border-color: #10AF88;
  color: #10AF88;
}

.btn-cancel{
  margin-left: 15px;
}
.btn-mobile{
  display: none;
}

@media screen and (max-width: 768px) {
  .dialog{
    width: 80%;
  }

  .dialog-title{
    display: none;
  }

  .dialog-bottom{
    font-size: 0px;
  }

  .btn{
    width: 50%;
    box-sizing: border-box;
    border:none;
    margin-left: 0px;
    padding: 0px;
    font-size: 14px;
    color: #59ac94;
    margin-top: 8px;
  }

  .btn-confirm{
    float: right;
  }

  .btn-cancel{
    float: right;
    border-right: 1px solid #efefef;
  }
  .btn-mobile{
    display: block;
  }
  .btn-pc{
    display: none;
  }
}
