.mask{
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
  z-index: 999;
}

.dialog{
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.dialog-title{
  padding: 5px 20px;
  background-color: #10AF88;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
}

.dialog-content{
  padding: 40px 20px;
  font-size: 20px;
  background-color: #FFFFFF;
}


.dialog-bottom{
  text-align: center;
  background-color: #FFFFFF;
  height: 45px;
  line-height: 45px;
  border-top: 1px solid #efefef;
}

.btn{
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0px 30px;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  margin-top: 4px;
}

.btn-primary{
  border-color: #10AF88;
  color: #10AF88;
}

.btn-cancel{
  margin-left: 15px;
}


@media screen and (max-width: 768px) {
  .dialog{
    width: 80%;
  }
}
