<div class="shop">
  <div class="shop-title">思明店</div>
  <div class="item">
    <span class="icon-location"></span>
    厦门市思明区厦禾路45号
  </div>
  <div class="item">
    <span class="icon-telephone"></span>
    0592-8686886
  </div>
  <div class="item">
    <span class="icon-email"></span>
    sm@yshx.com
  </div>
</div>

<div class="shop">
  <div class="shop-title">思明店</div>
  <div class="item">
    <span class="icon-location"></span>
    厦门市思明区厦禾路45号
  </div>
  <div class="item">
    <span class="icon-telephone"></span>
    0592-8686886
  </div>
  <div class="item">
    <span class="icon-email"></span>
    sm@yshx.com
  </div>
</div>

