<div class="main-layout" [class.transform]="isTransform" id="main-layout">
  <div class="header layout">
      <div class="nav">
        <a href="javascript:;" class="nav-link" (click)="onToggle(true)"></a>
        <!--
        <ul class="head-menu" *ngIf="showDirective">
          <li>
            <a href="#/appoint" (click)="toggleDirective()">
              <i class="icon-yuyue iconfont"></i>在线预约
            </a>
          </li>
          <li>
            <a href="#/orders" (click)="toggleDirective()">
              <i class="icon-order iconfont"></i>我的订单
            </a>
          </li>
         <li>
           <a href="progress.html?orderId=0">
          <i class="icon-chakanjindu iconfont"></i>进度查看
            </a>
          </li>
          <li>
            <a href="#/user-info" (click)="toggleDirective()">
              <i class="icon-gerenziliao iconfont"></i>个人资料
            </a>
          </li>
          <li>
            <a href="#/shops" (click)="toggleDirective()">
              <i class="icon-dizhi iconfont"></i>门店地址
            </a>
          </li>
          <li>
            <a href="#/advice" (click)="toggleDirective()">
              <i class="icon-yijianfankui iconfont"></i>意见反馈
            </a>
          </li>
        </ul>
        -->
      </div>

    <!--<div class="menu-mask" *ngIf="showDirective" (click)="toggleDirective()"></div>-->
    <div class="logo">
        <img src="../../../images/title.png" class="logo-image"/>
    </div>
    <!--<div class="dropdown">-->
      <!--<a href="javascript:;" class="drapdown-link" ></a>-->
    <!--</div>-->
  </div>
  <div class="pc-header">
    <div class="pc-layout pc-header-inner">
      <img src="../../../images/pc/logo.png" class="pc-logo" />
    </div>
  </div>
  <div class="mask" *ngIf="isTransform" (click)="onToggle(false)"></div>
  <div class="drawer">
    <div class="user-info">
      <img class="user-face" src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=870609829,3308433796&fm=116&gp=0.jpg" />
      <p class="user-name">Forever</p>
    </div>
    <div class="menus">
      <a href="#/appoint" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-reserve icon"></span>在线预约</a>
      <a href="#/orders" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-order icon"></span>我的订单</a>
      <a href="javascript:;" class="menu-item"><span class="icon-menu-progress icon"></span>进度查看</a>
      <a href="#/user-info" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-personal icon"></span>个人资料</a>
      <a href="#/shops" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-shop icon"></span>门店地址</a>
      <a href="#/advice" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-message icon"></span>意见反馈</a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>

