<div class="main-layout" [class.transform]="isTransform" id="main-layout">
  <div class="header layout">
    <div class="nav">
      <a href="javascript:;" class="nav-link" (click)="onToggle(true)"></a>
    </div>
    <div class="logo">
      <img src="{{qinuDomain + brand.blackBannerLogo}}"class="logo-image"/>
    </div>
    <!--<div class="dropdown">-->
    <!--<a href="javascript:;" class="drapdown-link" ></a>-->
    <!--</div>-->
  </div>
  <div class="pc-header">
    <div class="pc-layout pc-header-inner">
      <img src="{{qinuDomain + brand.bannerLogo}}" class="pc-logo" />
    </div>
  </div>
  <div class="mask" *ngIf="isTransform" (click)="onToggle(false)"></div>

  <div class="drawer">
    <div class="user-info">
      <img class="user-face" src="{{user.headImgUrl}}" />
      <p class="user-name">{{user.name}}</p>
    </div>
    <div class="menus">
      <a routerLink="/appoint" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-reserve icon"></span>在线预约</a>
      <a routerLink="/orders" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-order icon"></span>我的订单</a>
      <!--<a href="javascript:;" class="menu-item"><span class="icon-menu-progress icon"></span>进度查看</a>-->
      <a routerLink="/user-info" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-personal icon"></span>个人资料</a>
      <a routerLink="/shops" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-shop icon"></span>门店地址</a>
      <a routerLink="/advice" (click)="onToggle(false)" class="menu-item"><span class="icon-menu-message icon"></span>意见反馈</a>
    </div>
  </div>

  <div class="outlet" id="outlet">
    <router-outlet></router-outlet>
  </div>
</div>
