.main-outer{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-layout{
  height: 100%;
}

.main-layout{
  transition: transform 0.6s ease-in;
}

.transform{
  transform: translate3d(250px, 0px, 0px);
}

.drawer{
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0px;
  left:-250px;
  background-color: #252525;
  z-index: 1000;
}

.mask{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.user-info{
  padding-top: 40px;
}
.user-face{
  height: 100px;
  width: 100px;
  display: block;
  border-radius: 50px;
  margin: 0px auto;
}

.user-name{
  text-align: center;
  font-size: 16px;
  color: #FFFFFF;
  height: 40px;
  line-height: 40px;
}

.menus{
  margin-top: 40px;
  padding-left: 50px;
}

.menu-item{
  display: block;
  border-bottom: 1px solid #2f2f2f;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #E0E0E0;
  padding-left: 35px;
  position: relative;
}

.icon{
  position: absolute;
  left:0px;
  top: 15px;
  height: 20px;
  width: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon-menu-reserve{
  background-image: url(../../../images/icon-menu-reserve.png);
}

.icon-menu-order{
  background-image: url(../../../images/icon-menu-order.png);
  height: 20px;
  width: 17px;
}

.icon-menu-progress{
   background-image: url(../../../images/icon-menu-progress.png);
}

.icon-menu-personal{
  background-image: url(../../../images/icon-menu-personal.png);
}

.icon-menu-shop{
  background-image: url(../../../images/icon-menu-shop.png);
  width: 23px;
}


.icon-menu-message{
  background-image: url(../../../images/icon-menu-message.png);
}

.header{
  height: 80px;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  background-color: #FFFFFF;
}

.nav{
  position: absolute;
  left: 20px;
  top: 35px;

}

.nav-link{
  display: block;
  width: 15px;
  height: 14px;
  background-image: url(../../../images/nav.png);
  background-size: cover;
}

.logo{
  padding-top: 25px;
  margin-left: 110px;
}

.logo-image{
  height: 35px;
}


.dropdown{
  position: absolute;
  top: 35px;
  right: 20px;
}

.drapdown-link{
  width: 18px;
  height: 10px;
  display: block;
  background-image: url(../../../images/dropdown.png);
  background-size: cover;
}

.pc-header{
  height: 75px;
  background-color: #1e1e1e;
}

.pc-header-inner{
  position: relative;
  height: 50px;
}

.pc-logo{
  position: absolute;
  top: 10px;
  height: 50px;
}

@media screen and (min-width: 769px) {

  .header{
    display: none;
  }
  .outlet{
    height: calc(100% - 160px);
    overflow-y: auto;
  }
}

@media screen and (max-width: 768px) {
  .pc-header{
    display: none;
  }

  .outlet{
    height: calc(100% - 85px);
  }


}

.head-menu{
  width: 7rem;
  position: fixed;
  top: 3rem;
  left: 0;
  z-index: 100
}
.head-menu li{
  width: 100%;
  height: 2.4rem;
  text-align: left;
  border-bottom:solid 1px #ddd;
  font-size: .8rem;
  background: #fff;
}
.head-menu li a{
  height: 2.4rem;
  line-height: 2.4rem;
  width: 100%;
  color: #888;
  display: inline-block;
  text-decoration: none;
}
.head-menu li a:active{
  background: #eee;
}
.head-menu li a:visited{
  color: #888;
}
.head-menu li i{
  margin: 0 .5rem 0 1rem;
  font-size: 1rem;
  color: #888;
}
.menu-mask{
  background: rgba(0,0,0,.3);
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99
}
