.main-layout{
  height: 100%;
}
.header{
  height: 80px;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
  background-color: #FFFFFF;
}

.nav{
  position: absolute;
  left: 20px;
  top: 35px;

}

.nav-link{
  display: block;
  width: 15px;
  height: 14px;
  background-image: url(../../../images/nav.png);
  background-size: cover;
}

.logo{
  padding-top: 25px;
  margin-left: 110px;
}

.logo-image{
  height: 35px;
}


.dropdown{
  position: absolute;
  top: 35px;
  right: 20px;
}

.drapdown-link{
  width: 18px;
  height: 10px;
  display: block;
  background-image: url(../../../images/dropdown.png);
  background-size: cover;
}

.pc-header{
  height: 50px;
  background-color: #1e1e1e;
}

.pc-header-inner{
  position: relative;
  height: 50px;
}

.pc-logo{
  position: absolute;
  top: 10px;
  height: 30px;
}

@media screen and (min-width: 769px) {
  .header{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .pc-header{
    display: none;
  }
}
