<div class="pc-photo-list clearfix">
  <div class="pc-photo-item" *ngFor="let photo of list; let i=index; trackBy:trackByPhotos">
    <div class="pc-photo-content">
      <div class="pc-photo-box" (click)="onPreview(i)">
        <div class="pc-choose-mask" *ngIf="photo.status==1">
        </div>
        <img src="{{photo.imgKey}}" class="pc-photo-image"/>
      </div>
      <div class="pc-photo-info clearfix" *ngIf="type==='raw'">
        <span class="pc-photo-name">原片{{photo.imgIndex}}</span>
        <a href="javascript:;" *ngIf="isShowDelete" class="pc-btn-choose" [class.pc-choose]="photo.status==1" (click)="onChoose(i)">{{status === '' ? (photo.status == 1 ? '取消选择':'选择') : '删除'}}</a>
      </div>

      <div class="pc-photo-info clearfix" *ngIf="type==='truing'">
        <span class="photo-name">原片{{photo.imgIndex}}</span>
        <span *ngIf="photo.status != 2" class="photo-status pc-photo-status" [class.icon-clock]="photo.status == 0" [class.icon-feedback] ="photo.status == 1"></span>
        <a *ngIf="photo.status == 2" href="javascript:;" class="pc-btn-choose" (click)="onChoose(photo)">下载</a>
      </div>

    </div>
  </div>
</div>
