<h2 class="title">
  <span class="title-text"><span class="icon-title"></span>订单详细</span>
</h2>
<div class="box">
  <span class="status">原片精修</span>
  <div class="form-item">
    <span class="form-key">订单编号:</span>
    <span class="form-value">NO16099210005</span>
  </div>
  <div class="form-item">
    <span class="form-key">下单时间:</span>
    <span class="form-value">2016-02-22</span>
  </div>
  <div class="form-item">
    <span class="form-key">拍摄日期:</span>
    <span class="form-value">2015年9月30日（星期五）</span>
  </div>
  <div class="form-item">
    <span class="form-key">拍摄门店:</span>
    <span class="form-value">钟爱一生test总店</span>
  </div>
</div>
<div class="box">
  <div class="box-title">套餐信息</div>
  <div class="form-item">
    <span class="form-key">服务类型:</span>
    <span class="form-value">89999轻奢之旅婚纱照</span>
  </div>
  <div class="form-item  form-item-group">
    <div class="inner-item">
      <span class="form-key">原  片:</span>
      <span class="form-value">200张</span>
    </div>
    <div class="inner-item">
      <span class="form-key">精修:</span>
      <span class="form-value">50张</span>
    </div>
  </div>
  <div class="form-item form-item-group">
    <div class="inner-item">
      <span class="form-key">造  型:</span>
      <span class="form-value">5组</span>
    </div>
    <div class="inner-item">
      <span class="form-key">场景:</span>
      <span class="form-value">3组</span>
    </div>
  </div>
  <div class="form-item">
    <span class="form-key">服务时长:</span>
    <span class="form-value">50</span>
  </div>
</div>

<div class="box">
  <div class="form-item form-long-item">
    <div class="form-label">16寸皮面相册24P</div>
    <span class="form-right-value">x3</span>
  </div>
  <div class="form-item form-long-item">
    <div class="form-label">24寸挂框</div>
    <span class="form-right-value">x3</span>
  </div>
</div>

<div class="box">
  <div class="form-item form-item-group">
    <div class="order-amount">订单金额：<span>￥6999</span></div>
    <div class="order-payed"><div class="order-payed-inner"><span class="icon-ok"></span>已付金额：<span>￥0</span></div></div>
  </div>
</div>

<div class="toolbar">
  <a href="javascript:;" class="btn btn-telephone">
    <div class="btn-inner">
      <span class="icon-customer"></span>客服专员
    </div>
  </a>
  <a href="javascript:;" class="btn btn-progress">服务进度 >></a>
</div>
