<div *ngIf="show" class="scene-outer" id="scene-outer">
    <div class="scene-inner clearfix" id="scene-inner">
      <ul class="scene-list clearfix" id="scene-list" [ngStyle]="diffX"  (touchstart)="onTouchStart($event)" (touchend)="onTouchEnd($event)" (touchmove)="onTouchMove($event)">
          <li class="scene-item" *ngFor="let scene of sceneList" (click)="onSelectScene(scene)">
              <a href="javascript:;" [class.current-scene]="scene.id === selectedScene.id">{{scene.sceneName}} ({{scene.rawNum?scene.rawNum:0}})</a>
              <span class="item-split"></span>
          </li>
      </ul>
    </div>
</div>

