<h2 class="title">
  <span class="title-text"><span class="icon-title"></span>我的订单</span>
</h2>
<ul class="order-list">
  <li class="order">
    <span class="status">带选片</span>
    <div class="items">
      <div class="item item-name">谢中凯</div>
      <div class="item item-time">2016年09月30日（星期五）9：00</div>
      <div class="item item-shop">钟爱一生Test</div>
      <div class="item item-type">8999轻奢之旅/婚纱照</div>
      <a href="javascript:;" class="btn-detail">查看订单详情</a>
    </div>
  </li>
  <li class="order">
    <span class="status">带选片</span>
    <div class="items">
      <div class="item item-name">谢中凯</div>
      <div class="item item-time">2016年09月30日（星期五）9：00</div>
      <div class="item item-shop">钟爱一生Test</div>
      <div class="item item-order">8999轻奢之旅/婚纱照</div>
      <a href="javascript:;" class="btn-detail">查看订单详情</a>
    </div>
  </li>
</ul>
