<h2 class="title">
  <span class="title-text"><span class="icon-title"></span>我的订单</span>
</h2>

<div class="order-info">
  <div class="info-item">
    <div class="info-key">订单编号:</div>
    <div class="info-value">NO16092210000005</div>
  </div>
  <div class="info-item">
    <div class="info-key">下单时间:</div>
    <div class="info-value">2016-09-22</div>
  </div>
  <div class="info-item">
    <div class="info-key">拍摄时间:</div>
    <div class="info-value">2016年09月30日（星期五）09:00</div>
  </div>
</div>

<div class="steps">
  <div class="step">
    <div class="step-title">
      <div class="step-number">
        <div class="inner-number">1</div>
      </div>
      拍摄档期<span class="sub-title">2016-09-22 至 2016-09-23</span>
    </div>
    <div class="step-box">
      <div class="step-item">
        <div class="step-key">拍摄师 :</div>
        <div class="step-value">ZAYSTest</div>
      </div>
      <div class="step-item">
        <div class="step-key">拍摄师 :</div>
        <div class="step-value">ZAYSTest</div>
      </div>
      <div class="step-item">
        <div class="step-key">拍摄师 :</div>
        <div class="step-value">ZAYSTest</div>
      </div>
      <a href="javascript:;" class="btn-open">
        <span class="btn-open-icon"></span>
      </a>
      <div class="judge">
        <div class="judge-line">
          <div class="judge-item">
            <div class="judge-key">摄影师 :</div>
            <div class="judge-star">
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
            </div>
          </div>
          <div class="judge-item">
            <div class="judge-key">摄影师 :</div>
            <div class="judge-star">
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
              <a href="javascript:;" class="star"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="step step-more">
    <div class="step-title step-active">
      <div class="step-number ">
        <div class="inner-number">2</div>
      </div>
      客户选片<span class="sub-title">2016-09-22 至 2016-09-23</span>
    </div>
    <div class="step-box">
      <div class="step-item">
        <div class="step-key">拍摄师 :</div>
        <div class="step-value">ZAYSTest</div>
        <div class="judge-star judge-active">
          <a href="javascript:;" class="star star-active"></a>
          <a href="javascript:;" class="star"></a>
          <a href="javascript:;" class="star"></a>
          <a href="javascript:;" class="star"></a>
          <a href="javascript:;" class="star"></a>
        </div>
      </div>
      <textarea class="textarea" placeholder="我想说..."></textarea>
      <a href="javascript:;" class="btn-submit">提交</a>
      <a href="javascript:;" class="btn-open">
        <span class="btn-open-icon btn-open-icon-up"></span>
      </a>
    </div>
  </div>
</div>
