.my-alert{
  position: fixed;
  background-color: #000000;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
  opacity:0.8;
  width: 100%;
  height: 100%;
  z-index: 100;
  top:0;
  left: 0;
}
.my-alert-content{
  padding-top: 100px;
  width: 100%;
}
.my-alert-content p{
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  padding: 0 50px;
  line-height: 1.5rem;
}
.my-alert-button{
  width: 100%;
  text-align: center;
}
.my-alert-button a{
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 1rem;
  border-radius: 3px;
  border: #ffffff 2px dashed;
  text-decoration: none;
  width: 80px;
  margin: 0 auto;

}
