<div class="scene-outer clearfix">
  <ul class="scene-list clearfix">
    <li class="scene-item">
      <a href="javascript:;" (click)="onTabStatus(-1)" [class.current-scene]="currentStatus===-1">全部 ({{statistics.totalCount}})</a>
      <span class="item-split"></span>
    </li>
    <li class="scene-item">
      <a href="javascript:;" (click)="onTabStatus(1)" [class.current-scene]="currentStatus===1">已反馈 ({{statistics.modifyCount}})</a>
      <span class="item-split"></span>
    </li>
    <li class="scene-item">
      <a href="javascript:;" (click)="onTabStatus(0)" [class.current-scene]="currentStatus===0">未反馈 ({{statistics.unConfirmCount}})</a>
      <span class="item-split"></span>
    </li>
    <li class="scene-item">
      <a href="javascript:;" (click)="onTabStatus(2)" [class.current-scene]="currentStatus===2">已确认 ({{statistics.confirmCount}})</a>
    </li>
  </ul>
</div>

<div class="content">
  <div class="flow-list clearfix">
    <div class="flow-list-col">
      <div class="photo-item" *ngFor="let photo of truingCols.col1.list;let i=index">
        <div class="photo-content">
          <div class="photo-box" (click)="onPreview(photo.listIndex, photo)">
            <img  src="{{photo.imgKey}}"
                  class="photo-image"/>
            <div *ngIf="photo.isLoadingPreview" class="loading-img"><img src="../../../loading.gif"/> </div>
          </div>
          <div class="photo-info clearfix">
            <span class="photo-name">原片{{photo.imgIndex}}</span>
            <span class="photo-status" [class.icon-clock]="photo.status == 0" [class.icon-ok] ="photo.status > 0"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="flow-list-col">
      <div class="photo-item" *ngFor="let photo of truingCols.col2.list;let i=index">
        <div class="photo-content">
          <div class="photo-box" (click)="onPreview(photo.listIndex, photo)">
            <img  src="{{photo.imgKey}}"
                  class="photo-image"/>
            <div *ngIf="photo.isLoadingPreview" class="loading-img"><img src="../../../loading.gif"/> </div>
          </div>
          <div class="photo-info clearfix">
            <span class="photo-name">原片{{photo.imgIndex}}</span>
            <span class="photo-status" [class.icon-clock]="photo.status == 0" [class.icon-ok] ="photo.status > 0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="none-data" *ngIf="truingList.length==0&&!isLoadingData">没有找到任何数据</div>
  <loading *ngIf="isLoadingData"></loading>
  <pagination [page]="page" [style]="'loadmore'" [loadingData]="isLoadingData" (loadMore)="getPhotos()"></pagination>
</div>
<div class="toolbar">
  <div class="toolbar-inner layout">
    <p class="toolbar-text"><span class="icon-wait"></span>您还有{{statistics.unConfirmCount}}张未反馈</p>
    <a href="javascript:;" (click)="onFinish()" class="btn-next" [class.btn-next-active]="statistics.unConfirmCount===0" >确认提交</a>
  </div>
</div>

<feedback *ngIf="isPreview"
        (close)="onClosePreview()"
        (remark)="onRemark($event)"
        (accept)="onAccept($event)"
        [currentIndex]="previewIndex"
        [truingList]="truingList"></feedback>

<success *ngIf="isShowSuccess" (close)="onCloseSuccess()">
  操作成功
</success>
