.content{
  margin-top: 15px;
}
.flow-list{
  padding-right: 15px;
}

.flow-list-col{
  float: left;
  width: 50%;
}

.photo-item{
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.photo-content{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.photo-box{
  width: 100%;
  position: relative;
  font-size: 0px;
}

.photo-image{
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.photo-name{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}

.btn-choose{
  display: inline-block;
  position: absolute;
  right: 10px;
  top:5px;
  padding: 5px 3px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}

.choose{
  background-color: #585858;
  color: #FFFFFF;
}

.photo-info{
  padding: 10px;
  position: relative;
}

.photo-status{
  width: 15px;
  height: 15px;
  background-size: cover;
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-clock{
  background-image: url(../../../images/icon-clock.png);
}

.icon-ok{
  background-image: url(../../../images/icon-ok-green.png);
}

.choose-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}
.choose-mask-image{
  width: 15px;
  position: absolute;
  right: 10px;
  top: -1px;
}

.loading-img{
  position: absolute;
  top: 0px;
  background-color: #fff;
  height: 120px;
  line-height: 120px;
  width: 100%;
  text-align: center;
}



.loading-data{
  text-align: center;
  margin-top: 10px;
}

.toolbar{
  background-color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px -1px 5px rgba(0,0,0,0.15);
}

.toolbar-inner{
  position: relative;
}

.toolbar-text{
  padding-left: 50px;
  font-size: 14px;
  position: relative;
}

.icon-wait{
  background-image: url(../../../images/icon-wait.png);
  width: 15px;
  height: 15px;
  background-size: cover;
  position: absolute;
  top: 17px;
  left: 25px;
}

.btn-next{
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #929292;
  top: 0px;
  right: 0px;
  padding: 0px 30px;
  font-size: 18px;
}

.btn-next-active{
  background-color: #59ac94;
}

.scene-outer{
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f2f4f4;
}
.scene-inner{
  max-width: 768px;
  margin: 0px auto;
  height: 43px;
  position: relative;
}

.scene-list{
  white-space:nowrap;
  overflow: hidden;
}
.scene-item{
  display: inline-block;
  font-size: 15px;
  position: relative;
}
.scene-item a{
  color: #888888;
  text-decoration: none;
  font-size: 14px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  padding: 0px 14px;
}

.item-split{
  width: 1px;
  height: 20px;
  display: block;
  position: absolute;
  right: 0px;
  top: 12px;
  background-color: #d2d2d2;
}
.scene-item a.current-scene{
  color: #000000;
}

.pc-photo-list{
  width: 1100px;
  margin-top: 20px;
}

.pc-photo-item{
  width: 253px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 20px;
}

.pc-photo-box{
  height: 150px;
  overflow: hidden;
}

.pc-photo-image{
  width: 100%;
}

.pc-photo-info{
  padding: 15px 10px;
  position: relative;
}

.pc-btn-choose{
  position: absolute;
  top: 8px;
  right: 10px;
  display: inline-block;
  padding: 7px 15px;
  color: #000000;
  border: 1px solid #e5e5e5;
}
.pc-btn-choose:hover{
  color: #59ac94;
  border-color: #59ac94;
}
.pc-choose{
  background-color: #59ac94;
  color: #FFFFFF;
  border:1px solid #59ac94;
}
.pc-choose:hover{
  color: #FFFFFF;
  background-color: #4dbb9b;
}

.pc-guide{
  background-color: #ffb892;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #FFFFFF;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 2px;
}

.btn-close-guide{
  margin-left: 50px;
  text-decoration: underline;
  color: #FFFFFF;
}

.pc-photo-status{
  top: 15px;
}

@media screen and (min-width: 769px) {
  .scene-outer{
    background-color: #f7f7f7;
    border-bottom: none;
    border-top: none;
  }
  .scene-inner{
    max-width: 1080px;
    border-bottom: 1px solid #e5e5e5;
  }
  .scene-item a{
    padding-left: 0px;
    padding-right: 40px;
    font-sizeP: 14px;
  }
  .item-split{
    display: none;
  }

  .content{
    display: none;
  }


  .margin-bottom{
    margin-bottom: 70px;
    height: 1px;
  }
  .toolbar{
    background-color: #5a5a5a;
    color: #FFFFFF;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  .toolbar-text{
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding-left: 0px;
  }
  .icon-wait{
    display: none;
  }

  .btn-next{
    position: absolute;
    right: -130px;
    top: 18px;
    border-radius: 3px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    padding: 0px 20px;
  }
}

@media screen and (max-width: 768px) {
  .pc-content{
    display: none;
  }
  .margin-bottom{
    margin-bottom: 60px;
  }
  .pc-guide{
    display: none;
  }
}


