.textarea{
  margin-top: 10px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  display: block;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  resize: none;
  font-size: 16px;
  background-color: #FFFFFF;
}

.btn-submit{
  display: block;
  text-align: center;
  color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  background-color: #59ac94;
  font-size: 18px;

  border-radius: 5px;
  width: 97%;
  margin: 20px auto;

  cursor: pointer;
}
.btn-submit:disabled{
  background-color: #aaa;
}
.form-item{
  border-bottom: 1px solid #E0E0E0;
  height: 55px;
  line-height: 55px;
  font-size: 16px;
  background-color: #FFFFFF;
}
.alert-danger {
  color: #FFFFFF;
  background-color: #ff6b37;
  border-color: #ebccd1;
}

.alert {
  text-align:center;
  border: 1px solid transparent;
  border-radius: 4px;
}
.required{
  color: red;
}
