<div class="mask">
  <div class="dialog">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title dialog-title">{{title}}</h3>
      </div>
      <div class="panel-body dialog-body">
        <ng-content></ng-content>
      </div>
      <div class="panel-footer dialog-bottom">
        <a href="javascript:;" class="btn btn-primary" (click)="onConfirm()">
          <span class="glyphicon glyphicon-ok"></span>
          确认
        </a>
        <a href="javascript:;" class="btn btn-default btn-cancel"  (click)="onCancel()">
          <span class="glyphicon glyphicon-remove"></span>
          取消
        </a>
      </div>
    </div>
  </div>
</div>
