.content{
  margin-top: 15px;
}

.flow-list{
  padding-right: 15px;
}

.flow-list-col{
  float: left;
  width: 50%;
}

.photo-item{
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.photo-content{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.photo-box{
  width: 100%;
  position: relative;
  font-size: 0px;
}

.photo-image{
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.photo-name{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}

.btn-choose{
  display: inline-block;
  position: absolute;
  right: 10px;
  top:5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}

.choose{
  background-color: #585858;
  color: #FFFFFF;
  padding: 5px 3px;
}

.photo-info{
  padding: 10px;
  position: relative;
}

.choose-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.choose-mask-image{
  width: 15px;
  position: absolute;
  right: 10px;
  top: -1px;
}

.loading-img{
  position: absolute;
  top: 0px;
  background-color: #fff;
  height: 120px;
  line-height: 120px;
  width: 100%;
  text-align: center;
}

.loading-data{
  text-align: center;
  margin-top: 10px;
}

.toolbar{
  background-color: #FFFFFF;
  height: 50px;
  line-height: 50px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px -1px 5px rgba(0,0,0,0.15);
}

.toolbar-inner{
  position: relative;
}

.toolbar-text{
  padding-left: 50px;
  font-size: 14px;
  position: relative;
}

.icon-ok{
  background-image: url(../../../images/icon-ok-black.png);
  width: 15px;
  height: 14px;
  background-size: cover;
  position: absolute;
  top: 17px;
  left: 25px;
}

.btn-next{
  position: absolute;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #929292;
  top: 0px;
  right: 0px;
  padding: 0px 30px;
  font-size: 18px;
}

.btn-next-active{
  background-color: #59ac94;
}

.pc-photo-list{
  width: 1000px;
  margin-top: 25px;
}

.pc-photo-item{
  width: 223px;
  margin-right: 25px;
  border: 1px solid #e5e5e5;
  float: left;
  margin-bottom: 25px;
}

.pc-photo-box{
  height: 150px;
  overflow: hidden;
}

.pc-photo-image{
  width: 100%;
}

.pc-photo-info{
  padding: 20px 10px;
  position: relative;
}

.pc-btn-choose{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  padding: 7px 15px;
  color: #000000;
  border: 1px solid #e5e5e5;
}
.pc-btn-choose:hover{
  color: #59ac94;
  border-color: #59ac94;
}
.pc-choose{
  background-color: #59ac94;
  color: #FFFFFF;
  border:1px solid #59ac94;
}
.pc-choose:hover{
  color: #FFFFFF;
  background-color: #4dbb9b;
}
@media screen and (min-width: 769px) {
  .content{
    display: none;
  }
  .margin-bottom{
    margin-bottom: 70px;
  }
  .toolbar{
    background-color: #5a5a5a;
    color: #FFFFFF;
    height: 70px;
    line-height: 70px;
    text-align: center;
  }
  .toolbar-text{
    font-size: 20px;
    display: inline-block;
    position: relative;
  }
  .icon-ok{
    display: none;
  }

  .btn-next{
    position: absolute;
    right: -180px;
    top: 12px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .pc-content{
    display: none;
  }
  .margin-bottom{
    margin-bottom: 60px;
  }
}
