<div class="form">
  <div class="form-item">
    <div class="form-key">姓名</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入姓名" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">性别</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入性别" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">手机号码</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入手机号码" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">验证码</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入性别" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">邮编</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入性别" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">省市区</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入性别" />
    </div>
  </div>

  <div class="form-item">
    <div class="form-key">街道</div>
    <div class="form-value">
      <input class="form-input" placeholder="请输入性别" />
    </div>
  </div>

  <div class="toolbar">
    <a href="javascript:;" class="btn btn-confirm">保存</a>
    <a href="javascript:;" class="btn btn-cancel">取消</a>
  </div>

</div>
