<section class="box vertical home-wrapper">
  <div class=" login-body">
    <div class="box">
      <div class="box-aw login-box">
        <article>
          <div class="wechat-login tab-box" id="wechat_login">
            <div class="text-center">
              <div>微信扫描，安全登录</div>
              <span class="span-box login-wechat-qr">
                <img [src]="qrCodeUrl" id="img_QrCode" (error)="showErrImg()">
              </span>
              <div class="">
                使用微信扫描二维码安全快速登录
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<footer class="home-footer">
  <div>
    <div>
      <span class="copy">©<span>到影(idaoying.com) |  <a href="https://www.idaoying.com" class="btn-link">关于我们</a>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">闽ICP备16014938号-1</a>
      </span>
      </span>
    </div>
  </div>
</footer>
