section, article {
  display: block
}

.box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.vertical {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  -ms-flex-align: center;
  align-items: center
}

.box-aw {
  min-width: 0;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.box-aw img {
  width: 100%;
  max-width: intrinsic;
  max-width: -moz-fit-content;
  max-width: -webkit-fit-content;
  height: auto
}

.box-aw img.auto-width {
  width: auto;
  max-width: none
}

.box-aw img[data-delay] {
  max-width: none
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right
}

.span-box {
  display: inline-block
}

.home-wrapper {
  height: 64vh
}

.login-body {
  position: relative;
  width: 685px;
  margin: auto;
  padding: 35px 30px;
  color: #666;
  border-radius: 4px;
  background: #fff;
  box-shadow: 1px 1px 4px #767676
}

.login-body .form-wrapper, .logon-body .form-wrapper {
  width: 300px;
  margin-right: 52px;
  margin-left: 38px
}

.login-body .login-tabs {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  overflow: hidden;
  width: 93px;
  height: 93px
}

.login-body .login-tabs .tab-bg {
  display: inline-block;
  width: 130px;
  height: 130px;
  margin: -65px 0 0 -65px;
  content: '';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #31b968
}

.login-body .login-tabs .tab-item {
  position: absolute;
  z-index: 1;
  top: 13px;
  left: 13px;
  display: none
}

.login-body .login-tabs .tab-item.active {
  display: inline-block
}

.login-body .login-tabs .tab-item .ic-svg {
  width: 40px;
  height: 40px
}

.login-body .wechat-login .login-wechat-qr {
  width: 200px;
  height: 200px;
  margin: 15px 0 35px;
  padding: 5px;
  border: 1px solid #eee
}

.login-body .wechat-login .login-wechat-qr img {
  width: 100%;
  height: 100%
}

.home-footer {
  font-size: .875rem;
  line-height: 2;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 5.5vh 0;
  text-align: center;
  color: #fff
}

.home-footer a:not([class]) {
  color: #fff
}

.home-footer a {
  margin: 0 2px
}

.home-footer > div {
  display: inline-block;
  margin: 0 auto;
  text-align: left
}
.btn-link, .btn-link a {
  color: #31b968
}

.btn-link a:hover, .btn-link:hover {
  color: lighten #31b968
}
.dotted{
  color: #bfbfbf;
  margin: 0 5px;
}
.title{
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 16px;
}

.login_button{
  background-color: #59ac94;
  width: 200px;
}
a:hover {text-decoration:underline;}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.container {
  padding-right: 15px;
  /*padding-left: 15px;*/
  margin-right: auto;
  margin-left: auto;
}
form {
  display: block;
  margin-top: 0em;
  max-width: 200px;
}
.form-group {
  margin-bottom: 15px;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-default {
  color: #333;
  border-color: #ccc;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.form-control {
  display: block;
  max-width:200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
  background-color: #fff;
  border-color: #ccc;
}
