<div   *ngIf="!isLoadingData" class="content-box">
  <div class="shop"*ngFor="let shop of shops">
    <div class="shop-title">{{shop.name}}</div>
    <div class="item" style="height: auto;">
      <span class="icon-location"></span>
      {{shop.province}}&nbsp;{{shop.city}}&nbsp;{{shop.county}}&nbsp;{{shop.address}}
    </div>
    <div class="item">
      <span class="icon-telephone"></span>
      {{shop.serviceTel}}
    </div>
    <div class="item">
      <span class="icon-mobile"></span>
      {{shop.serviceMobile}}
    </div>
  </div>
</div>
<loading *ngIf="isLoadingData"></loading>

