<div class="container clearfix">
  <div class="item" *ngFor="let photoRaw of photoRawList">
    <img (click)="amplify(photoRaw)"
      src="http://oex701atk.bkt.clouddn.com/{{photoRaw.imgKey}}?imageView2/2/w/300"  alt=""/>
    <div class="item-bottom">
      <span>原片#{{photoRaw.imgIndex}}</span>
      <span *ngIf="selectNum>minSelectNum" class="select" (click)="onSelect(photoRaw)">取消选择</span>
    </div>

  </div>
</div>


<div class="footer">

  <div class="footer-info" (click)="goBack()">
    <- 返回重选
  </div>
  <div class="disabled" [class.enabled]="selectNum>=minSelectNum" (click)="reconfirm()" >
    确认选片
  </div>
</div>

<big-photo [photoRaw]="photoRaw" [hidden]="photoRaw==null" (onSelect)="onSelect($event.valueOf())" (onClose)="onClose($event)"></big-photo>


<div class="cost-tips" [@flyInOut]="costTips? 'active' : 'inactive'">
  <div class="cost-tips-content">
    <p>
      您已经粗选了{{selectNum}}张照片，本订单标配选片只有{{minSelectNum}}张，数量超额会产生每张￥120.00的额外费用。
    </p>
  </div>
  <div class="cost-tips-button">
    <a href="#" (click)="costTips = false" >知道了</a>
  </div>
</div>
