.photo-item{
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 15px;
}

.photo-content{
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

.photo-box{
  width: 100%;
  position: relative;
  font-size: 0px;
}

.photo-image{
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.photo-name{
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
}

.btn-choose{
  display: inline-block;
  position: absolute;
  right: 10px;
  top:5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #E0E0E0;
}

.choose{
  background-color: #585858;
  color: #FFFFFF;
  padding: 5px 3px;
}

.photo-info{
  padding: 10px;
  position: relative;
}


.choose-mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}

.choose-mask-image{
  width: 15px;
  position: absolute;
  right: 10px;
  top: -1px;
}


.photo-status{
  width: 15px;
  height: 15px;
  background-size: cover;
  position: absolute;
  top: 10px;
  right: 10px;
}

.icon-clock{
  background-image: url(../../../images/icon-clock.png);
}

.icon-ok{
  background-image: url(../../../images/icon-ok-green.png);
}

.icon-feedback{
  background-image: url(../../../images/icon-wait.png);
}
