<div class="photo-item" *ngFor="let photo of list;let i=index; trackBy:trackByPhotos">
  <div class="photo-content" id="photo-item-{{photo.id}}">
    <div class="photo-box" (click)="onPreview(photo.listIndex, photo)">
      <div class="choose-mask" *ngIf="photo.status==1 && status=='' && rawStatus != 2">
        <img src="../../../images/icon-choosed.png" class="choose-mask-image" />
      </div>
      <img  src="{{photo.imgKey}}"
            class="photo-image"/>
    </div>
    <div class="photo-info clearfix" *ngIf="type==='raw'">
      <span class="photo-name">原片{{photo.imgIndex}}</span>
      <a href="javascript:;"  *ngIf="isShowDelete" class="btn-choose" [class.choose]="photo.status==1"   (click)="onChoose(photo.listIndex)">{{  status==''?  (photo.status == 1 ? '取消选择':'选择') : '删除' }}</a>
    </div>

    <div class="photo-info clearfix" *ngIf="type==='truing'">
      <span class="photo-name">原片{{photo.imgIndex}}</span>
      <span class="photo-status" [class.icon-clock]="photo.status == 0" [class.icon-feedback] ="photo.status == 1" [class.icon-ok] ="photo.status == 2"></span>
    </div>

  </div>
</div>
