.title{
  text-align: center;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #E0E0E0;
  font-weight: normal;
  color: #909090;
  background-color: #f2f4f4;
}
.title-text{
  font-size: 16px;
  position: relative;
}

.icon-title{
  position: absolute;
  left: -18px;
  top: 2px;
  background-image: url(../../../../images/icon-order-title.png);
  background-size: cover;
  width: 12px;
  height: 15px;
}

.order-list{
  background-color: #f2f4f4;
}

.order-list .order:first-child{
  border-top: 0px;
}

.order{
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 10px;
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #FFFFFF;
}

.status{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0px 20px;
  height: 30px;
  line-height: 30px;
  color: #FFFFFF;
  background-color: #59ac94;
  border-radius: 15px;
}

.item{
  height: 35px;
  line-height: 35px;
  font-size: 16px;
}

.item-type{
  color: #909090;
}

.btn-detail-left{
  border-top: 1px solid #E0E0E0;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #59ac94;
  position: absolute;
  bottom: 0px;
  width: 50%;
  left: 0px;
  border-right: 1px solid #E0E0E0;
}

.btn-detail-right{
  border-top: 1px solid #E0E0E0;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #59ac94;
  position: absolute;
  bottom: 0px;
  width: 50%;
  right: 0px;
}

.toolbar{
  position: absolute;
  width: 100%;
  bottom: 0px;

}
