<!--<h2 class="title">-->
  <!--<span class="title-text"><span class="icon-title"></span>我的订单</span>-->
<!--</h2>-->
<div *ngIf="!isLoadingData" class="list-outer" id="list-content">
  <ul  *ngFor="let order of myOrders;let i = index">
    <li class="order">
      <span class="status">{{order.cusStateName}}</span>

      <div class="items" >
        <div class="items-info" (click)="goOrderDetail(order.orderId)">
          <div class="item item-name">{{order.customerName}}</div>
          <div class="item item-time">{{order.shootDateStr?order.shootDateStr:"未排班"}}</div>
          <div class="item item-shop">{{order.brandName}}</div>
          <div class="item item-type">{{order.seriesName}}/{{order.shootType}}</div>
        </div>
        <div class="toolbar">
          <div class="btn-outer" (click)="goOrderDetail(order.orderId)">
            <a href="javascript:;" class="btn-detail">查看订单详情</a>
          </div>
          <div class="btn-outer" (click)="goOrderFlow(order.orderId)">
            <a href="javascript:;" class="btn-detail" >查看服务进度</a>
          </div>
          <div class="btn-outer" (click)="goPhotos(order,1)" *ngIf="(order.cusRawStatus!=0)">
            <a href="javascript:;" class="btn-detail" >客户选片</a>
          </div>
          <div class="btn-outer" (click)="goPhotos(order,2)" *ngIf="order.cusTruingStatus!=0">
            <a href="javascript:;" class="btn-detail" >原片精修</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <ul  *ngIf="myOrders.length<=0">
    <li class='no-data'><i class='icon-jinggao iconfont'></i><br/>您还没有相关订单</li>
  </ul>
</div>
<loading *ngIf="isLoadingData"></loading>
