/* You can add global styles to this file, and also import other style files */
html{
  font-family: "Microsoft YaHei UI";
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
