.viewer-box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #000000;
    z-index: 3;
}

.btn-close{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-image: url('../../../images/icon-close.png');
    background-size: cover;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 3;
}

.btn-close:hover{
    background-color: #333333;
}

.viewer-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.viewer-big-image{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-choose{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  z-index: 100;
  background-color: rgba(0,0,0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.self-mask{
}
