.viewer-box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1000;
}

.btn-close{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px 20px;
    color: #FFFFFF;
    text-decoration: none;
    z-index: 3;
    border: 1px solid #333333;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.3);
}

.btn-close:hover{
    background-color: #333333;
}

.viewer-content{
    width: 100%;
    height: 100%;
    position: relative;
}

.viewer-big-image{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-choose{
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  z-index: 100;
  background-color: rgba(0,0,0, 0.5);
}
