<div class="viewer-box">
  <a href="javascript:;" *ngIf="currentIndex !== 0" class="btn-page btn-prev" (click)="onPrev($event)"></a>
  <a href="javascript:;" *ngIf="currentIndex !== list.length-1" class="btn-page btn-next" (click)="onNext($event)"></a>
  <div class="viewer-content">
    <a href="javascript:;" class="btn-close" (click)="onClose()"></a>
    <img class="viewer-big-image" (load)="loadImage(list[currentIndex].imgKey.replace('-300','-1600'))"
         src="{{list[currentIndex].imgKey.replace('-300','-1600')}}"/>
    <a href="javascript:;" *ngIf="isShowDelete" (click)="onChoose()" class="btn-choose">{{ status ==='' ? ( list[currentIndex].status == 1 ? '取消选择'  : '选择' ) : '删除'  }}</a>
  </div>

</div>

<div class="main-mask self-mask" *ngIf="isLoadingImage">
  <span class="loading-text"></span>
</div>
