.viewer-box{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}

.viewer-content{
  position: absolute;
  width: 1000px;
  height: 750px;
  left: 50%;
  top: 50%;
  margin-left: -500px;
  margin-top: -375px;
  background-color: #000000;
}

.btn-close{
    position: absolute;
    right: -15px;
    top: -15px;
    height: 30px;
    width: 30px;
    background-image: url(../../../images/pc/btn-close.png);
    background-size: cover;
}

.btn-close:hover{
}


.btn-page{
  height: 80px;
  width: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-bottom: -20px;
  background-repeat: no-repeat;
  background-color: #999999;
  background-size: 19px 33px;
  background-position: 10px 25px ;
}

.btn-page:hover{
  background-color: #666666;
}

.btn-prev{
  left: 30px;
  background-image: url(../../../images/pc/btn-prev.png);
}

.btn-next{
  right: 30px;
  background-image: url(../../../images/pc/btn-next.png);
}

.viewer-big-image{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btn-choose{
  position: absolute;
  left: 0px;
  bottom: -60px;
  height: 60px;
  line-height: 60px;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 18px;
  z-index: 100;
  background-color: rgba(0,0,0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.self-mask{
  background-color: rgba(255, 255, 255, 0.9);
}
